.SpiffCalendarPopup.qtip {
border: 1px solid #bbb;
padding: 1em;
z-index: 20;
box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .3);
}

.SpiffCalendarPopup .qtip-content {
padding: 0;
}

.SpiffCalendarPopup.qtip,
.SpiffCalendarPopup .qtip-content {
max-width: none;
max-height: none;
padding-bottom: .5em;
}

.SpiffCalendarPopup {
margin: 0;
padding: 0;
width: 30vw;
min-width: 35em;
}

.SpiffCalendarPopup input.error {
background-color: #f66;
border: 1px solid red;
color: black;
}

.SpiffCalendarPopup label {
width: 15em;
font-weight: bold;
}

.SpiffCalendarPopup #popup-detail div {
}

.SpiffCalendarPopup #popup-buttons {
text-align: right;
margin-top: 1em;
white-space: nowrap;
padding-bottom: .5em;
}

.SpiffCalendarPopup button {
}

.SpiffCalendarPopup #button-delete {
float: left;
border-color: transparent;
background-color: transparent;
color: blue;
}

.SpiffCalendarPopup #button-delete:hover {
cursor: pointer;
text-decoration: underline;
}

.SpiffCalendarPopup #button-delete:focus {
outline: none;
}
