.SpiffCalendar {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
background-color: #e8e8e8;
height: 100%;
display: flex;
flex-direction: column;
}

.SpiffCalendar #navbar {
flex: 0 1 auto;
background: #eee;
padding: 0 6px;
display: flex;
color: #666;
}

.SpiffCalendar #navbar h2 {
flex: 1;
font-size: 1.4em;
text-transform: uppercase;
margin: .4em .5em;
}

.SpiffCalendar #navbar input {
margin: .2em;
border: 0;
font-family: SimHei;
font-size: 1.8em;
background: #eee;
padding: 0 6px;
}

.SpiffCalendar #navbar input:hover {
background: #fefefe;
}

.SpiffCalendar table {
flex: 1;
display: flex;
width: 100%;
table-layout: fixed;
border-spacing: 8px;
color: #666;
}

.SpiffCalendar table tbody {
display: flex;
flex-direction: column;
width: 100%;
}

.SpiffCalendar table tr {
flex: 1;
display: flex;
flex-direction: row;
width: 100%;
}

.SpiffCalendar table tr:first-child {
flex: 0;
min-height: 2.8em;
}

.SpiffCalendar table tr th,
.SpiffCalendar table tr td {
display: inline-flex;
flex: 1;
}

.SpiffCalendar table th {
justify-content: center;
align-items: center;
text-transform: uppercase;
font-size: 1.2em;
color: #4bcbf2;
padding: 1em;
}

.SpiffCalendar .day {
vertical-align: top;
text-align: center;
overflow: hidden;
border: 1px solid #ddd;
padding: 0;
}

.SpiffCalendar .day:hover {
background: #f0f0f0;
}

.SpiffCalendar .day.today {
background: #e87722;
}

.SpiffCalendar .day.today:hover {
background: #f88732;
}

.SpiffCalendar .day.filler>* {
opacity: .5;
}

.SpiffCalendar .day.active {
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
filter: brightness(110%);
-moz-filter: brightness(110%);
-khtml-filter: brightness(110%);
-webkit-filter: brightness(110%);
}

.SpiffCalendar .day .wrapper {
display: flex;
flex-direction: column;
width: 100%;
}

.SpiffCalendar .day .day_number {
flex: 0;
font-weight: bold;
font-size: 1.4em;
text-align: left;
padding: 4px 2px 0 4px;
min-height: 1.4em;
}

.SpiffCalendar .day .footnote {
flex: 0;
display: none;
font-size: .9em;
min-height: 1em;
}

.SpiffCalendar .day:hover .footnote {
display: block;
}

.SpiffCalendar .events {
flex: 1 1 0%;
display: flex;
flex-direction: column;
font-size: .9em;
padding: 3px;
}

.SpiffCalendar .event {
flex: 0;
margin-bottom: 1px;
border-radius: 3px;
z-index: 12;
color: #666;
padding: 0 .2em;
text-align: left;
min-height: 1.3em;
}

.SpiffCalendar .event.recurring {
background: url(../icons/recurring.svg) no-repeat 5px center;
background-size: 11px 11px;
padding-left: 20px;
}

.SpiffCalendar .event.exception {
background: url(../icons/exception.svg) no-repeat 5px center;
background-size: 11px 11px;
padding-left: 20px;
}

.SpiffCalendar .event:not(.timed) {
background-color: lightgreen;
}
