.SpiffCalendar {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
background-color: #e8e8e8;
height: 100%;
display: flex;
flex-direction: column;
}

.SpiffCalendar #navbar {
flex: 0 1 auto;
background: #eee;
padding: 0 6px;
display: flex;
color: #666;
}

.SpiffCalendar #navbar h2 {
flex: 1;
font-size: 1.6em;
text-transform: uppercase;
margin: .4em .5em;
}

.SpiffCalendar #navbar input {
margin: .2em;
border: 0;
font-size: 1.8em;
padding: 0 6px;
}

.SpiffCalendar table {
flex: 1;
display: flex;
width: 100%;
table-layout: fixed;
border-spacing: 8px;
color: #666;
}

.SpiffCalendar table tbody {
display: flex;
flex-direction: column;
width: 100%;
}

.SpiffCalendar table tr {
flex: 1 1 0;
display: flex;
flex-direction: row;
width: 100%;
}

.SpiffCalendar table tr:first-child {
flex: 0;
min-height: 2.8em;
}

.SpiffCalendar table tr th,
.SpiffCalendar table tr td {
display: inline-flex;
flex: 1;
}

.SpiffCalendar table th {
justify-content: center;
align-items: center;
text-transform: uppercase;
font-weight: normal;
font-size: 1.5em;
padding: 1em;
}

.SpiffCalendar .day {
overflow: hidden;
padding: 0;
margin: 3px;
}

.SpiffCalendar .day.today {
background: #e87722;
}

.SpiffCalendar .day.filler>* {
opacity: .5;
}

.SpiffCalendar .day.active {
}

.SpiffCalendar .day .wrapper {
display: flex;
flex-direction: column;
width: 100%;
}

.SpiffCalendar .day .day_number {
flex: 0;
font-size: 1.5em;
text-align: left;
padding: 4px 2px 0 4px;
min-height: 1.4em;
}

.SpiffCalendar .day .footnote {
flex: 0;
visibility: hidden;
font-size: .9em;
min-height: 1.7em;
}

.SpiffCalendar .day:hover .footnote {
visibility: visible;
}

.SpiffCalendar .events {
flex: 1 1 0%;
display: flex;
flex-direction: column;
font-size: .9em;
padding: 3px;
}

.SpiffCalendar .event {
flex: 0;
margin: 1px .2em;
border-radius: 3px;
z-index: 12;
color: #666;
padding: .1em .2em;
text-align: left;
min-height: 1.7em;
}

.SpiffCalendar .event.recurring {
background: url(../icons/recurring.svg) no-repeat 5px center;
background-size: 11px 11px;
padding-left: 20px;
}

.SpiffCalendar .event.exception {
background: url(../icons/exception.svg) no-repeat 5px center;
background-size: 11px 11px;
padding-left: 20px;
}

.SpiffCalendar .event:not(.timed) {
background-color: #f90;
}
