.SpiffCalendar {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
background-color: #e8e8e8;
height: 100%;
display: flex;
flex-direction: column;
}

.SpiffCalendar #navbar {
flex: 0 1 auto;
background: #eee;
padding: 0 6px;
color: #666;
}

.SpiffCalendar #navbar .nav-buttons {
float: left;
white-space: nowrap;
}

.SpiffCalendar #navbar .range-buttons {
float: right;
white-space: nowrap;
}

.SpiffCalendar #navbar h2 {
display: inline-block;
font-size: 1.6em;
text-transform: uppercase;
padding: 0 .5rem;
margin: 0.2rem;
line-height: 36px;
vertical-align: middle;
}

.SpiffCalendar #navbar input {
display: inline-block;
margin: .2rem;
border: 0;
font-size: 1.8em;
line-height: 1rem;
padding: 0 6px;
}

.SpiffCalendar #navbar .range-buttons input {
font-size: inherit;
}

.SpiffCalendar table {
flex: 1;
display: flex;
width: 100%;
table-layout: fixed;
border-spacing: 8px;
color: #666;
}

.SpiffCalendar table tbody {
display: flex;
flex-direction: column;
width: 100%;
}

.SpiffCalendar table tr {
flex: 1 1 0;
display: flex;
flex-direction: row;
width: 100%;
}

.SpiffCalendar table tr:first-child {
flex: 0;
min-height: 2.8em;
}

.SpiffCalendar table tr th,
.SpiffCalendar table tr td {
display: inline-flex;
flex: 1;
}

.SpiffCalendar table th {
justify-content: center;
align-items: center;
text-transform: uppercase;
font-weight: normal;
font-size: 1.5em;
padding: 1em;
}

.SpiffCalendar .day {
overflow: hidden;
position: relative;
padding: 0;
margin: 3px;
}

.SpiffCalendar .day.today {
background: #e87722;
}

.SpiffCalendar .day.filler>* {
opacity: .5;
}

.SpiffCalendar .day.active {
position: absolute;
z-index: 13;
margin: 0;
padding: .5em;
}

.SpiffCalendar .day .wrapper {
display: flex;
flex-direction: column;
width: 100%;
}

.SpiffCalendar .day .day_number {
flex: 0;
font-size: 1.5em;
text-align: left;
padding: 4px 2px 0 4px;
min-height: 1.4em;
}

.SpiffCalendar .day .footnote {
flex: 0;
opacity: 0;
font-size: .9em;
min-height: 1.7em;
-webkit-transition: opacity .4s;
-moz-transition: opacity .4s;
-o-transition: opacity .4s;
transition: opacity .4s;
}

.SpiffCalendar .day:hover .footnote {
opacity: 1;
}

.SpiffCalendar .events {
flex: 1 1 0%;
display: flex;
flex-direction: column;
font-size: .9em;
padding: 3px;
}

.SpiffCalendar .event {
overflow: hidden;
margin: 1px .2em;
border-radius: 3px;
z-index: 12;
color: #666;
padding: .1em .2em;
text-align: left;
min-height: 1.7em;
-webkit-transition: min-height .2s, background-color .2s;
-moz-transition: min-height .2s, background-color .2s;
-o-transition: min-height .2s, background-color .2s;
transition: min-height .2s, background-color .2s;
}

.SpiffCalendar .day.active .event {
z-index: 15;
}

.SpiffCalendar .ui-draggable-dragging {
z-index: 50;
}

.SpiffCalendar .event input {
background-color: transparent;
border-radius: 2px;
border: none;
height: auto;
padding: .3em;
margin: .2em 0;
border-bottom: 1px solid grey;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.SpiffCalendar .event input.error {
background-color: #f66;
border: 1px solid red;
color: black;
}

.SpiffCalendar .event .editor {
max-height: 0.0001px;
overflow: hidden;
-webkit-transition: max-height .4s;
-moz-transition: max-height .4s;
-o-transition: max-height .4s;
transition: max-height .4s;
}

.SpiffCalendar .event.unfolded .editor {
max-height: 500px;
}

.SpiffCalendar .event.unfolded .label {
display: none;
}

.SpiffCalendar #event-buttons {
margin: .5em .3em;
text-align: right;
}

.SpiffCalendar #button-delete {
float: left;
}

.SpiffCalendar .event.recurring {
background: url(../icons/recurring.svg) no-repeat 5px center;
background-size: 11px 11px;
padding-left: 20px;
}

.SpiffCalendar .event.exception {
background: url(../icons/exception.svg) no-repeat 5px center;
background-size: 11px 11px;
padding-left: 20px;
}

.SpiffCalendar .event:not(.timed) {
background-color: #f90;
}

.SpiffCalendar .event.unfolded {
flex: 0 1 auto;
padding-left: .2em;
background-image: none;
background-color: white;
border: 1px solid #f90;
box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
padding: .4em;
margin-bottom: .4em;
}

.SpiffCalendar .event.unfolded a {
padding-left: .5em;
padding-right: .5em;
width: 3.5rem;
height: 1.8rem;
}

.SpiffCalendar .event.unfolded a i {
line-height: 1rem;
height: 1rem;
}
